* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* UI component styles */

.preference {
    margin-bottom: 2em;
    border: 1px solid rgba(192, 192, 192, 0.15);
    border-radius: 8px;
    min-height: 90px;
    font-size: 1rem;
}

.caption,
.toggle-button {
    display: inline-block;
}

.preference>div {
    position: relative;
}

.preference>div:not(:last-child) {
    border-bottom: 1px rgba(192, 192, 192, 0.15) solid;
}

label {
    position: absolute;
    right: 10px;
    top: 25px;
}

label.brightness {
    width: calc(50% - 150px);
    padding-right: 26px;
}

label.brightness::before {
    content: "\f185";
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: -18px;
    opacity: 0.5;
}

label.brightness::after {
    content: "\f185";
    font-size: 32px;
    position: absolute;
    right: -3px;
    top: 12px;
}

label[for=red].brightness::after,
.caption.red {
    color: #cc0000;
}

label[for=green].brightness::after,
.caption.green {
    color: #00cc00;
}

label[for=blue].brightness::after,
.caption.blue {
    color: #0000cc;
}


/* Range input */

input[type=range] {
    -webkit-appearance: none;
    width: calc(50% - 15px);
    position: relative;
    top: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 50%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid black;
    height: 44px;
    width: 18px;
    border-radius: 5px;
    background: white;
    margin-top: -19px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 50%;
    height: 3px;
    cursor: pointer;
    background: black;
}